In [313]:
import gzip
import csv
import json
import pandas as pd
#with gzip.open("C:/Users/varsh/Desktop/TwoSixCapital/lynx_transaction_data.csv.gz", 'rb') as f:
#file_content = f.read()
df = pd.read_csv("C:/Users/varsh/Desktop/TwoSixCapital/lynx_transaction_data.csv.gz", compression='gzip', header=0, sep='|', quotechar='"')
print(df.head())

   id            base_license       product_group country product_type  \
0  13  09-31001-1Z9110-YY0377     FloatingLicense      DE         Main
1  29  09-31001-199X35-Y9135W  LimitedSiteLicense      AT       Update
2  45  09-31001-W13903-73X75Y       AddOn Channel      DE       Update
3  61  09-31001-W13903-73X75Y       AddOn Channel      DE       Update
4  77  09-31001-W390Y9-Z10W5X       AddOn Channel      DE       Update

   billings transaction_date  purchase_year
0     300.0       2006-07-24           2006
1     569.0       2010-12-13           2006
2     179.0       2009-01-15           2006
3     169.0       2013-11-28           2006
4     189.0       2013-02-14           2006

In [314]:
#df.loc[df['id'] == 13]
df['transaction_date'].max()
pd.DatetimeIndex(df['transaction_date']).max().year

2013

In [315]:
df.shape

(607282, 8)

In [316]:
#df.groupby('purchase_year')['billings'].sum()[2013]
df1 = df.groupby('purchase_year').billings.sum()
df1 = pd.DataFrame({'cohort_year':df1.index, 'Revenue':df1.values})
print(df1)

        Revenue  cohort_year
0  9.490107e+06         2006
1  4.777300e+06         2007
2  2.671310e+07         2008
3  4.493607e+07         2009
4  6.526640e+07         2010
5  8.413055e+07         2011
6  7.022613e+07         2012
7  6.242343e+07         2013

In [317]:
df2=df.groupby(pd.DatetimeIndex(df['transaction_date']).year)['billings'].sum()
df2=pd.DataFrame({'purchase_year':df2.index,'Revenue':df2.values})

print(df2)

        Revenue  purchase_year
0  9.148328e+06           2006
1  1.762778e+06           2007
2  1.145560e+07           2008
3  2.555888e+07           2009
4  4.765774e+07           2010
5  7.860067e+07           2011
6  9.106072e+07           2012
7  1.027184e+08           2013

In [318]:
df3 = df.groupby('product_group')['billings'].sum()
df3 = pd.DataFrame({'product_group':df3.index,'Revenue':df3.values})
print(df3)

        Revenue          product_group
0  5.221858e+07          AddOn Channel
1  5.118898e+06      AddOn Workstation
2  1.133578e+08        FloatingLicense
3  1.279544e+08     LimitedSiteLicense
4  1.573479e+06  Mobile Device Support
5  6.773995e+07             SingleSeat

In [319]:
df4 = df.groupby('product_type')['billings'].sum()
df4 = pd.DataFrame({'product_type':df4.index,'Revenue':df4.values})
print(df4)

        Revenue product_type
0  5.749198e+07        AddOn
1  2.284230e+08         Main
2  2.600304e+05         Misc
3  8.178806e+07       Update

In [320]:
df5 = df.groupby('country')['billings'].sum()
df5 = pd.DataFrame({'country':df5.index,'Revenue':df5.values})
print(df5)

         Revenue country
0   9.492384e+06      AT
1   1.088017e+07      AU
2   6.108633e+06      BE
3   6.609104e+06      BR
4   8.529154e+06      CA
5   1.629809e+07      CH
6   1.210059e+08      DE
7   9.143297e+06      DK
8   1.986668e+07      FR
9   1.426977e+07      GB
10  1.197861e+07      IT
11  1.384255e+07      NL
12  7.579430e+06      NO
13  7.560756e+06      RU
14  9.399391e+06      SE
15  9.539920e+07      US

In [321]:
df6 = df.groupby('purchase_year').base_license.nunique()
df6 = pd.DataFrame({'cohort_year':df6.index,'no_of_customers':df6.values})
print(df6)

   cohort_year  no_of_customers
0         2006              164
1         2007             1736
2         2008            12674
3         2009            23302
4         2010            37237
5         2011            52914
6         2012            56479
7         2013            60629

In [322]:
df7 = df.groupby(pd.DatetimeIndex(df['transaction_date']).year).base_license.nunique()
df7 = pd.DataFrame({'purchase_year':df7.index,'no_of_customers':df7.values})
print(df7)

   no_of_customers  purchase_year
0              164           2006
1             1799           2007
2            13216           2008
3            28880           2009
4            49937           2010
5            76772           2011
6            97561           2012
7           113037           2013

In [323]:
df8 = df.groupby('product_group').base_license.nunique()
df8 = pd.DataFrame({'product_group':df8.index,'no_of_customers':df8.values})
print(df8)

   no_of_customers          product_group
0            24645          AddOn Channel
1            34912      AddOn Workstation
2            91984        FloatingLicense
3            58475     LimitedSiteLicense
4             2515  Mobile Device Support
5           121454             SingleSeat

In [324]:
df9 = df.groupby('product_type').base_license.nunique()
df9 = pd.DataFrame({'product_type':df9.index,'no_of_customers':df9.values})
print(df9)

   no_of_customers product_type
0            66104        AddOn
1           245098         Main
2              523         Misc
3            86804       Update

In [325]:
df10 = df.groupby('country').base_license.nunique()
df10 = pd.DataFrame({'country':df10.index,'no_of_customers':df10.values})
print(df10)

   country  no_of_customers
0       AT             6207
1       AU             7667
2       BE             4103
3       BR             6639
4       CA             5782
5       CH            10173
6       DE            79804
7       DK             5775
8       FR            13795
9       GB             9545
10      IT             9179
11      NL             9233
12      NO             4298
13      RU             6424
14      SE             5818
15      US            61637

In [326]:
repeated_trans = df.groupby('base_license').filter(lambda x: len(x) > 1)
df11 = repeated_trans.groupby('purchase_year').base_license.nunique()
df11 = pd.DataFrame({'cohort_year':df11.index,'repeated_trans':df11.values})
print(df11)

   cohort_year  repeated_trans
0         2006             122
1         2007            1312
2         2008            9314
3         2009           16088
4         2010           22817
5         2011           28295
6         2012           23235
7         2013           14799

In [327]:
df12 = repeated_trans.groupby(pd.DatetimeIndex(repeated_trans['transaction_date']).year).base_license.nunique()
df12 = pd.DataFrame({'purchase_year':df12.index,'repeated_trans':df12.values})
print(df12)

   purchase_year  repeated_trans
0           2006             122
1           2007            1375
2           2008            9856
3           2009           21666
4           2010           35517
5           2011           52153
6           2012           64317
7           2013           67207

In [328]:
df13 = repeated_trans.groupby('product_group').base_license.nunique()
df13 = pd.DataFrame({'product_group':df13.index,'repeated_trans':df13.values})
print(df13)

           product_group  repeated_trans
0          AddOn Channel           24645
1      AddOn Workstation           34912
2        FloatingLicense           48942
3     LimitedSiteLicense           35555
4  Mobile Device Support            2515
5             SingleSeat           58263

In [329]:
df14 = repeated_trans.groupby('product_type').base_license.nunique()
df14 = pd.DataFrame({'product_type':df14.index,'repeated_trans':df14.values})
print(df14)

  product_type  repeated_trans
0        AddOn           66086
1         Main          115972
2         Misc             521
3       Update           86797

In [330]:
df15 = repeated_trans.groupby('country').base_license.nunique()
df15 = pd.DataFrame({'country':df15.index,'repeated_trans':df15.values})
print(df15)

   country  repeated_trans
0       AT            3547
1       AU            3740
2       BE            2133
3       BR            2320
4       CA            2811
5       CH            6017
6       DE           41089
7       DK            3292
8       FR            6307
9       GB            4660
10      IT            4433
11      NL            4834
12      NO            2391
13      RU            2029
14      SE            3068
15      US           24255

In [331]:
df16 = df.groupby('purchase_year').billings.mean()
df16 = pd.DataFrame({'cohort_year':df16.index,'avg_trans_val':df16.values})
print(df16)

   avg_trans_val  cohort_year
0    7856.049189         2006
1     428.226968         2007
2     418.470996         2008
3     485.407034         2009
4     566.873406         2010
5     646.437019         2011
6     669.113433         2012
7     707.139284         2013

In [332]:
df17 = df.groupby(pd.DatetimeIndex(df['transaction_date']).year).billings.mean()
df17 = pd.DataFrame({'purchase_year':df17.index,'avg_trans_val':df17.values})
print(df17)

   avg_trans_val  purchase_year
0   36017.038425           2006
1     667.719034           2007
2     550.247434           2008
3     570.854661           2009
4     636.310424           2010
5     672.991260           2011
6     581.567754           2012
7     539.124814           2013

In [333]:
df18 = df.groupby('product_group').billings.mean()
df18 = pd.DataFrame({'product_group':df18.index,'avg_trans_val':df18.values})
print(df18)

   avg_trans_val          product_group
0     458.584683          AddOn Channel
1      72.614661      AddOn Workstation
2     775.668687        FloatingLicense
3    1312.595189     LimitedSiteLicense
4     233.453866  Mobile Device Support
5     392.570182             SingleSeat

In [334]:
df19 = df.groupby('product_type').billings.mean()
df19 = pd.DataFrame({'product_type':df19.index,'avg_trans_val':df19.values})
print(df19)

   avg_trans_val product_type
0     447.697550        AddOn
1     931.962260         Main
2     492.481742         Misc
3     350.663515       Update

In [335]:
df20 = df.groupby('country').billings.mean()
df20 = pd.DataFrame({'country':df20.index,'avg_trans_val':df20.values})
print(df20)

    avg_trans_val country
0      517.155228      AT
1      605.462840      AU
2      562.126943      BE
3      540.533599      BR
4      610.489862      CA
5      530.934361      CH
6      575.708476      DE
7      528.178443      DK
8      612.828618      FR
9      620.155008      GB
10     552.009786      IT
11     571.888112      NL
12     566.516917      NO
13     683.180246      RU
14     593.658221      SE
15     711.477726      US

In [336]:
df21 = df.groupby(by=['purchase_year']).billings.sum()/df.groupby('purchase_year').base_license.nunique()
df21 = pd.DataFrame({'cohort_year':df21.index,'avg_cumulative':df21.values})
print(df21)

   avg_cumulative  cohort_year
0    57866.508659         2006
1     2751.900956         2007
2     2107.708380         2008
3     1928.421199         2009
4     1752.729886         2010
5     1589.948705         2011
6     1243.402525         2012
7     1029.596851         2013

In [337]:
df22 = df.groupby(by=[pd.DatetimeIndex(df['transaction_date']).year]).billings.sum()/df.groupby(pd.DatetimeIndex(df['transaction_date']).year).base_license.nunique()
df22 = pd.DataFrame({'purchase_year':df22.index,'avg_cumulative':df22.values})
print(df22)

   avg_cumulative  purchase_year
0    55782.486341           2006
1      979.865620           2007
2      866.797921           2008
3      885.002622           2009
4      954.357327           2010
5     1023.819469           2011
6      933.372103           2012
7      908.714603           2013

In [338]:
#df23 = df.groupby(by=['product_group', pd.DatetimeIndex(df['transaction_date']).year]).billings.sum().cumsum()
df23 = df.groupby(by=['product_group']).billings.sum()/df.groupby('product_group').base_license.nunique()
df23 = pd.DataFrame({'product_group':df23.index,'avg_cumulative':df23.values})
print(df23)

   avg_cumulative          product_group
0     2118.830564          AddOn Channel
1      146.622878      AddOn Workstation
2     1232.364033        FloatingLicense
3     2188.189897     LimitedSiteLicense
4      625.637797  Mobile Device Support
5      557.741596             SingleSeat

In [339]:
df24 = df.groupby(by=['product_type']).billings.sum()/df.groupby('product_type').base_license.nunique()
df24 = pd.DataFrame({'product_type':df24.index,'avg_cumulative':df24.values})
print(df24)

   avg_cumulative product_type
0      869.720082        AddOn
1      931.966062         Main
2      497.189981         Misc
3      942.215301       Update

In [340]:
df25 = df.groupby(by=['country']).billings.sum()/df.groupby('country').base_license.nunique()
df25 = pd.DataFrame({'country':df25.index,'avg_cumulative':df25.values})
print(df25)

    avg_cumulative country
0      1529.303079      AT
1      1419.090548      AU
2      1488.821226      BE
3       995.496960      BR
4      1475.121733      CA
5      1602.092999      CH
6      1516.288177      DE
7      1583.254895      DK
8      1440.136147      FR
9      1494.999134      GB
10     1305.001890      IT
11     1499.247454      NL
12     1763.478322      NO
13     1176.954511      RU
14     1615.570749      SE
15     1547.758690      US

In [341]:
# Create a Pandas Excel writer using XlsxWriter as the engine.
writer = pd.ExcelWriter('C:/Users/varsh/Desktop/TwoSixCapital/DataEngineeringChallenge.xlsx', engine='xlsxwriter')

# Convert the dataframe to an XlsxWriter Excel object.
title = pd.DataFrame({'Title':'Revenue by Cohort year'}, index=[0])
title.to_excel(writer, sheet_name='Revenue', startrow=0, index=False, columns = ['Title'], header = False)
df1.to_excel(writer, sheet_name='Revenue', startrow=2, index=False, columns = ['cohort_year','Revenue'], header = ['Cohort Year','Revenue'])

title = pd.DataFrame({'Title':'Revenue by Purchase Year'}, index=[0])
title.to_excel(writer, sheet_name='Revenue', startrow=0, startcol=4, index=False, columns = ['Title'], header = False)
df2.to_excel(writer, sheet_name='Revenue', startrow=2, startcol=4, index=False, columns = ['purchase_year','Revenue'], header = ['Purchase Year','Revenue'])

title = pd.DataFrame({'Title':'Revenue by Product Group'}, index=[0])
title.to_excel(writer, sheet_name='Revenue', startrow=0, startcol=8, index=False, columns = ['Title'], header = False)
df3.to_excel(writer, sheet_name='Revenue', startrow=2, startcol=8, index=False, columns = ['product_group','Revenue'], header = ['Product Group','Revenue'])

title = pd.DataFrame({'Title':'Revenue by Product Type'}, index=[0])
title.to_excel(writer, sheet_name='Revenue', startrow=0, startcol=12, index=False, columns = ['Title'], header = False)
df4.to_excel(writer, sheet_name='Revenue', startrow=2, startcol=12, index=False, columns = ['product_type','Revenue'], header = ['Product Type','Revenue'])

title = pd.DataFrame({'Title':'Revenue by Country'}, index=[0])
title.to_excel(writer, sheet_name='Revenue', startrow=0, startcol=16, index=False, columns = ['Title'], header = False)
df5.to_excel(writer, sheet_name='Revenue', startrow=2, startcol=16, index=False, columns = ['country','Revenue'], header = ['Country','Revenue'])

title = pd.DataFrame({'Title':'Number of Customers by Cohort Year'}, index=[0])
title.to_excel(writer, sheet_name='Customer Counts', startrow=0, index=False, columns = ['Title'], header = False)
df6.to_excel(writer, sheet_name='Customer Counts', startrow=2, index=False, columns = ['cohort_year','no_of_customers'], header = ['Cohort Year','Number of Customers'])

title = pd.DataFrame({'Title':'Number of Customers by Purchase Year'}, index=[0])
title.to_excel(writer, sheet_name='Customer Counts', startrow=0, startcol=4, index=False, columns = ['Title'], header = False)
df7.to_excel(writer, sheet_name='Customer Counts', startrow=2, startcol=4, index=False, columns = ['purchase_year','no_of_customers'], header = ['Purchase Year','Number of Customers'])

title = pd.DataFrame({'Title':'Number of Customers by Product Group'}, index=[0])
title.to_excel(writer, sheet_name='Customer Counts', startrow=0, startcol=8, index=False, columns = ['Title'], header = False)
df8.to_excel(writer, sheet_name='Customer Counts', startrow=2, startcol=8, index=False, columns = ['product_group','no_of_customers'], header = ['Product Group','Number of Customers'])

title = pd.DataFrame({'Title':'Number of Customers by Product Type'}, index=[0])
title.to_excel(writer, sheet_name='Customer Counts', startrow=0, startcol=12, index=False, columns = ['Title'], header = False)
df9.to_excel(writer, sheet_name='Customer Counts', startrow=2, startcol=12, index=False, columns = ['product_type','no_of_customers'], header = ['Product Type','Number of Customers'])

title = pd.DataFrame({'Title':'Customers by Country'}, index=[0])
title.to_excel(writer, sheet_name='Customer Counts', startrow=0, startcol=16, index=False, columns = ['Title'], header = False)
df10.to_excel(writer, sheet_name='Customer Counts', startrow=2, startcol=16, index=False, columns = ['country','no_of_customers'], header = ['Country','Number of Customers'])

title = pd.DataFrame({'Title':'Repeat Transactions by Cohort Year'}, index=[0])
title.to_excel(writer, sheet_name='Repeat Transactions', startrow=0, index=False, columns = ['Title'], header = False)
df11.to_excel(writer, sheet_name='Repeat Transactions', startrow=2, index=False, columns = ['cohort_year','repeated_trans'], header = ['Cohort Year','Repeat Transactions'])

title = pd.DataFrame({'Title':'Repeat Transactions by Purchase Year'}, index=[0])
title.to_excel(writer, sheet_name='Repeat Transactions', startrow=0, startcol=4, index=False, columns = ['Title'], header = False)
df12.to_excel(writer, sheet_name='Repeat Transactions', startrow=2, startcol=4, index=False, columns = ['purchase_year','repeated_trans'], header = ['Purchase Year','Repeat Transactions'])

title = pd.DataFrame({'Title':'Repeat Transactions by Product Group'}, index=[0])
title.to_excel(writer, sheet_name='Repeat Transactions', startrow=0, startcol=8, index=False, columns = ['Title'], header = False)
df13.to_excel(writer, sheet_name='Repeat Transactions', startrow=2, startcol=8, index=False, columns = ['product_group','repeated_trans'], header = ['Product Group','Repeat Transactions'])

title = pd.DataFrame({'Title':'Repeat Transactions by Product Type'}, index=[0])
title.to_excel(writer, sheet_name='Repeat Transactions', startrow=0, startcol=12, index=False, columns = ['Title'], header = False)
df14.to_excel(writer, sheet_name='Repeat Transactions', startrow=2, startcol=12, index=False, columns = ['product_type','repeated_trans'], header = ['Product Type','Repeat Transactions'])

title = pd.DataFrame({'Title':'Repeat Transactions by Country'}, index=[0])
title.to_excel(writer, sheet_name='Repeat Transactions', startrow=0, startcol=16, index=False, columns = ['Title'], header = False)
df15.to_excel(writer, sheet_name='Repeat Transactions', startrow=2, startcol=16, index=False, columns = ['country','repeated_trans'], header = ['Country','Repeat Transactions'])


title = pd.DataFrame({'Title':'Avg Transaction Value by Cohort Year'}, index=[0])
title.to_excel(writer, sheet_name='Average Transaction Value', startrow=0, index=False, columns = ['Title'], header = False)
df16.to_excel(writer, sheet_name='Average Transaction Value', startrow=2, index=False, columns = ['cohort_year','avg_trans_val'], header = ['Cohort Year','Average Transaction Value'])

title = pd.DataFrame({'Title':'Avg Transaction Value by Purchase Year'}, index=[0])
title.to_excel(writer, sheet_name='Average Transaction Value', startrow=0, startcol=4, index=False, columns = ['Title'], header = False)
df17.to_excel(writer, sheet_name='Average Transaction Value', startrow=2, startcol=4, index=False, columns = ['purchase_year','avg_trans_val'], header = ['Purchase Year','Average Transaction Value'])

title = pd.DataFrame({'Title':'Avg Transaction Value by Product Group'}, index=[0])
title.to_excel(writer, sheet_name='Average Transaction Value', startrow=0, startcol=8, index=False, columns = ['Title'], header = False)
df18.to_excel(writer, sheet_name='Average Transaction Value', startrow=2, startcol=8, index=False, columns = ['product_group','avg_trans_val'], header = ['Product Group','Average Transaction Value'])

title = pd.DataFrame({'Title':'Avg Transaction Value by Product Type'}, index=[0])
title.to_excel(writer, sheet_name='Average Transaction Value', startrow=0, startcol=12, index=False, columns = ['Title'], header = False)
df19.to_excel(writer, sheet_name='Average Transaction Value', startrow=2, startcol=12, index=False, columns = ['product_type','avg_trans_val'], header = ['Product Type','Average Transaction Value'])

title = pd.DataFrame({'Title':'Avg Transaction Value by Country'}, index=[0])
title.to_excel(writer, sheet_name='Average Transaction Value', startrow=0, startcol=16, index=False, columns = ['Title'], header = False)
df20.to_excel(writer, sheet_name='Average Transaction Value', startrow=2, startcol=16, index=False, columns = ['country','avg_trans_val'], header = ['Country','Average Transaction Value'])

title = pd.DataFrame({'Title':'Average cumulative by Cohort Year'}, index=[0])
title.to_excel(writer, sheet_name='Average Cumulative', startrow=0, index=False, columns = ['Title'], header = False)
df21.to_excel(writer, sheet_name='Average Cumulative', startrow=2, index=False, columns = ['cohort_year','avg_cumulative'], header = ['Cohort Year','Average Cumulative'])

title = pd.DataFrame({'Title':'Average cumulative by Purchase Year'}, index=[0])
title.to_excel(writer, sheet_name='Average Cumulative', startrow=0, startcol=4, index=False, columns = ['Title'], header = False)
df22.to_excel(writer, sheet_name='Average Cumulative', startrow=2, startcol=4, index=False, columns = ['purchase_year','avg_cumulative'], header = ['Purchase Year','Average Cumulative'])

title = pd.DataFrame({'Title':'Average cumulative by Product Group'}, index=[0])
title.to_excel(writer, sheet_name='Average Cumulative', startrow=0, startcol=8, index=False, columns = ['Title'], header = False)
df23.to_excel(writer, sheet_name='Average Cumulative', startrow=2, startcol=8, index=False, columns = ['product_group','avg_cumulative'], header = ['Product Group','Average Cumulative'])

title = pd.DataFrame({'Title':'Average cumulative by Product Type'}, index=[0])
title.to_excel(writer, sheet_name='Average Cumulative', startrow=0, startcol=12, index=False, columns = ['Title'], header = False)
df24.to_excel(writer, sheet_name='Average Cumulative', startrow=2, startcol=12, index=False, columns = ['product_type','avg_cumulative'], header = ['Product Type','Average Cumulative'])

title = pd.DataFrame({'Title':'Average cumulative by Country'}, index=[0])
title.to_excel(writer, sheet_name='Average Cumulative', startrow=0, startcol=16, index=False, columns = ['Title'], header = False)
df25.to_excel(writer, sheet_name='Average Cumulative', startrow=2, startcol=16, index=False, columns = ['country','avg_cumulative'], header = ['Country','Average Cumulative'])

#worksheet.write('A1', 'Formatted date', bold)
#worksheet.write('D1', "Revenue by Cohort Year", bold)
#worksheet.write('F1', "Revenue by Purchase Year", bold)
#worksheet.write('I1', "Revenue by Product Group", bold)
#worksheet.write('L1', "Revenue by Product Type", bold)
#worksheet.write('O1', "Revenue by Country", bold)
# Close the Pandas Excel writer and output the Excel file.
writer.save()